{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 120,
    "bracketSameLine": true,
 
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}
