/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1059 {
    /* Centers button */
    text-align: left;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 31.95vw, 18.75rem) 1rem 0;
    /* 130px - 200px */
    padding-bottom: clamp(8.125rem, 16.5vw, 12.5rem);
    position: relative;
    z-index: 1;
  }
  #hero-1059 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1059 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-1059 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
  }
  #hero-1059 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }
  #hero-1059 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #hero-1059 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 51.8125rem;
    margin: 0 auto 1rem 0;
    color: #fff;
    position: relative;
  }
  #hero-1059 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0 0 2.5rem 0;
    color: #fff;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1059 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #hero-1059 .cs-background:before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0.94) 2%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-1059 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}
/*-- -------------------------- -->
<---         More Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1629 {
    padding: var(--sectionPadding);
  }
  #services-1629 .cs-container {
    /* changes to 1280px at desktop */
    max-width: 50rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1629 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-1629 .cs-title {
    max-width: 20ch;
  }
  #services-1629 .cs-text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #services-1629 .cs-text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #services-1629 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2.5rem;
    /* 16px - 40px */
    column-gap: clamp(1rem, 5vw, 2.5rem);
  }
  #services-1629 .cs-item {
    text-align: left;
    list-style: none;
    max-width: 25rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
    text-align: left;
  }
  #services-1629 .cs-picture {
    /* 60px - 80px */
    width: clamp(3.75rem, 6vw, 5rem);
    height: clamp(3.75rem, 6vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    border-radius: var(--borderRounded);
    border: 1px solid var(--primary);
    background-color: var(--primaryOpaque);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1629 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #services-1629 .cs-h3 {
    text-align: inherit;
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
  }
  #services-1629 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1629 .cs-container {
    max-width: 80rem;
  }
  #services-1629 .cs-item {
    margin: 0;
    width: 100%;
    align-items: flex-start;
  }
  #services-1629 .cs-h3,
  #services-1629 .cs-item-text {
    text-align: left;
  }
  #services-1629 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #services-1629 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #services-1629 .cs-title {
    margin: 0;
  }
  #services-1629 .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #services-1629 .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1629 .cs-card-group {
    max-width: 80rem;
  }
  #services-1629 .cs-item {
    flex-direction: row;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1629 .cs-text,
  body.dark-mode #services-1629 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #services-1629 .cs-picture {
    background-color: var(--secondaryOpaque);
    border-color: var(--secondary);
  }
  body.dark-mode #services-1629 .cs-icon {
    /* turns it white */
    filter: invert(1);
  }
  body.dark-mode #services-1629 .cs-title,
  body.dark-mode #services-1629 .cs-text,
  body.dark-mode #services-1629 .cs-h3,
  body.dark-mode #services-1629 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1629 .cs-text:after {
    background: var(--secondary);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-345 {
    /* centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }
  #services-345 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-345 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-345 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-345 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    /* 16px - 32px */
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  #services-345 .cs-item:hover {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
    transform: translateY(-0.4375rem);
  }
  #services-345 .cs-item:hover .cs-picture:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #services-345 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #services-345 .cs-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primaryOpaque);
    position: relative;
    z-index: 1;
  }
  #services-345 .cs-icon {
    height: 2rem;
    width: auto;
  }
  #services-345 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-345 .cs-item-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-345 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #services-345 .cs-item {
    width: 48.9%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-345 .cs-item {
    /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of cards, they don't stay centered, they align with their grid lines. This way its more FLEX-ible*/
    width: clamp(23.47%, 22vw, 23.955%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-345 .cs-title,
  body.dark-mode #services-345 .cs-text,
  body.dark-mode #services-345 .cs-h3,
  body.dark-mode #services-345 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-345 .cs-picture {
    background-color: var(--secondaryOpaque);
  }
  body.dark-mode #services-345 .cs-icon {
    filter: invert(1);
  }
  body.dark-mode #services-345 .cs-item {
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
  }
  body.dark-mode #services-345 .cs-item:hover {
    background-color: var(--accent);
  }
  body.dark-mode #services-345 .cs-item:hover:before {
    opacity: 1;
  }
  body.dark-mode #services-345 .cs-item:hover .cs-h3,
  body.dark-mode #services-345 .cs-item:hover .cs-item-text {
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
