---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/local.css" />
  <link rel="stylesheet" href="/assets/css/critical.css" />
  <link rel="stylesheet" href="/assets/css/contact-form.css" />
  <script src="/assets/js/file-upload.js" defer></script>

  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  <!-- JSON Schema Markup -->
  <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1059">
    <div class="cs-container">
      <div class="cs-content">
        <h1 class="cs-title">Mobile RV Repair Vancouver, WA</h1>
        <p class="cs-text">
          Certified Mobile RV Technician with Nearly 20 Years of Experience. Servicing Southwest Washington and
          Northwest Oregon from Vancouver to Portland and beyond.
        </p>
        <a href="/contact/" class="cs-button-solid">Request Appointment</a>
      </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | avif %}
        "
        type="image/avif" />
      <source
        media="(max-width: 600px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | webp %}
        "
        type="image/webp" />
      <source
        media="(max-width: 600px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | jpeg %}
        "
        type="image/jpeg" />
      <!--Tablet and up Image-->
      <source
        media="(min-width: 1024px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | avif %}
        "
        type="image/avif" />
      <source
        media="(min-width: 1024px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}
        "
        type="image/webp" />
      <source
        media="(min-width: 1024px)"
        srcset="
          {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}
        "
        type="image/jpeg" />
      <img
        src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}"
        alt="traveling rv"
        width="2250"
        height="1500"
        decoding="async"
        aria-hidden="true" />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                   More Services                   -->
  <!-- ============================================ -->

  <section id="services-1629">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">Additional Services</span>
          <h2 class="cs-title">Comprehensive RV Care Services</h2>
        </div>
        <p class="cs-text">
          At RV Care Plus, we offer comprehensive services to keep your RV in top shape, inside and out. From preventive
          maintenance to expert repairs, our skilled technicians handle everything from plumbing to roof inspections
          with reliable, on-site service. Focus on your travels—we’ve got your RV covered! Explore our services to keep
          your RV road-ready and adventure-proof!
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/faucet.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Plumbing & Water System Repairs</h3>
            <p class="cs-item-text">We handle everything from leaky faucets to water pump repairs.</p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/rv.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Slide-Out & Awning Repairs</h3>
            <p class="cs-item-text">
              Keep your slide-outs and awnings in perfect working order with our expert repair services for smooth
              operation.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/generator.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Generator Maintenance</h3>
            <p class="cs-item-text">
              Ensure your generator is running efficiently with our comprehensive maintenance and repair services.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/snowfall.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Winterizing & De-Winterizing</h3>
            <p class="cs-item-text">Protect your RV from freezing temperatures with our winterizing service.</p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/pressure-washer.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Black & Grey Tank Cleaning</h3>
            <p class="cs-item-text">We provide thorough cleaning of black and grey water tanks.</p>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/icons/roof.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true" />
          </picture>
          <!-- Text Grouped For Flexbox-->
          <div class="cs-text-group">
            <h3 class="cs-h3">Roof Inspections & Sealing</h3>
            <p class="cs-item-text">
              Prevent leaks and damage with our detailed roof inspections and sealing services.
            </p>
          </div>
        </li>
      </ul>
      <a href="" class="cs-button-solid">View All Services</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  {# <section id="services-345">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">What We Do</h2>
        <p class="cs-text">
          RV Care Plus provides expert mobile RV repair and maintenance, bringing everything from routine checks to
          specialized repairs directly to you. We keep your RV road-ready, so you can focus on your adventure.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="/services/" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/icons/inspection.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <h3 class="cs-h3">Comprehensive RV Inspections</h3>
            <p class="cs-item-text">Detailed inspections to ensure your RV is road-ready and safe.</p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/icons/mechanic.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <h3 class="cs-h3">On-Site Repairs and Maintenance</h3>
            <p class="cs-item-text">
              Mobile repairs for air conditioners, appliances, water heaters, awnings, and more.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/icons/pressure-washer.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <h3 class="cs-h3">Tank Cleaning and Sanitization</h3>
            <p class="cs-item-text">Expert cleaning of black and grey water tanks for a healthy RV.</p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/icons/rv.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <h3 class="cs-h3">Specialized Exterior Repairs</h3>
            <p class="cs-item-text">Roof sealing, slide-out repairs, and leveling system maintenance.</p>
          </a>
        </li>
      </ul>
    </div>
  </section> #}

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->
  <section id="sbs-1982">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">About Us</span>
        <h2 class="cs-title">Your Trusted Mobile RV Repair Experts</h2>
        <p class="cs-text">
          At RV Care Plus, we understand the freedom and excitement of the open road, and we’re here to make sure
          nothing slows you down. As a mobile RV repair service, we bring expert care directly to your location, whether
          you're parked at a campsite, on the side of the road, or at home. With years of experience in RV repair and
          maintenance, our team is dedicated to keeping your RV in perfect condition so you can focus on your journey.
          From routine check-ups to emergency repairs, we offer reliable, fast, and friendly service wherever your
          adventure takes you.
        </p>
        <a href="/contact/" class="cs-button-solid">Schedule Service</a>
        <div class="cs-ratings">
          <div class="cs-stars">
            <img
              class="cs-star"
              loading="lazy"
              decoding="async"
              src="assets/icons/star.svg"
              alt="star"
              width="24"
              height="24"
              aria-hidden="true" />
            <img
              class="cs-star"
              loading="lazy"
              decoding="async"
              src="assets/icons/star.svg"
              alt="star"
              width="24"
              height="24"
              aria-hidden="true" />
            <img
              class="cs-star"
              loading="lazy"
              decoding="async"
              src="assets/icons/star.svg"
              alt="star"
              width="24"
              height="24"
              aria-hidden="true" />
            <img
              class="cs-star"
              loading="lazy"
              decoding="async"
              src="assets/icons/star.svg"
              alt="star"
              width="24"
              height="24"
              aria-hidden="true" />
            <img
              class="cs-star"
              loading="lazy"
              decoding="async"
              src="assets/icons/star.svg"
              alt="star"
              width="24"
              height="24"
              aria-hidden="true" />
          </div>
          <div class="cs-rating">
            <h3 class="cs-h3">100% Customer Satisfaction</h3>
            <p class="cs-rating-text">based on our satisfied client reviews of our RV services</p>
          </div>
          <!-- <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dentist-tooth.svg"
            alt="star"
            width="20"
            height="20"
          /> -->
        </div>
      </div>
      <div class="cs-image-group">
        <picture class="cs-background">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 576, height: 960  }) | avif %}"
            type="image/avif" />
          <source
            media="(max-width: 600px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 576, height: 960  }) | webp %}"
            type="image/webp" />
          <source
            media="(max-width: 600px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 576, height: 960  }) | jpeg %}"
            type="image/jpeg" />
          <!--Tablet Image-->
          <source
            media="(max-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 908 , height:1360  }) | avif %}"
            type="image/avif" />
          <source
            media="(max-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 908 , height:1360  }) | webp %}"
            type="image/webp" />
          <source
            media="(max-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width: 908 , height:1360  }) | jpeg %}"
            type="image/jpeg" />
          <!--Desktop Image-->
          <source
            media="(min-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width:1260 , height:1360  }) | avif %}"
            type="image/avif" />
          <source
            media="(min-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width:1260 , height:1360  }) | webp %}"
            type="image/webp" />
          <source
            media="(min-width: 1024px)"
            srcset="{% getUrl '/assets/images/profile.jpg' | resize({ width:1260 , height:1360  }) | jpeg %}"
            type="image/jpeg" />
          <img
            src="{% getUrl '/assets/images/profile.jpg' | resize({ width: 1260 , height: 1360  }) | jpeg %}"
            alt="Armando"
            width="630"
            height="680"
            loading="lazy"
            decoding="async"
            aria-hidden="true" />
        </picture>
        <div class="cs-box">
          <img
            class="cs-box-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/tools.svg"
            alt="people"
            width="60"
            height="60" />
          <span class="cs-desc"> 100+ </span>
          <p class="cs-box-text">RV Services Performed</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Why Choose Us                 -->
  <!-- ============================================ -->

  <section id="why-choose-1634">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">The RV Care Plus Advantage</h2>
        </div>
        <p class="cs-text">
          At RV Care Plus, we know that your RV is more than just a vehicle—it’s your home on wheels. That’s why we are
          dedicated to providing exceptional service that ensures your RV stays in top condition, no matter where you
          are. Our mobile repair service brings professional, high-quality care to your location, so you can avoid the
          hassle of towing to a shop and get back to enjoying the road.
        </p>
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/icons/convenient.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">Mobile Convenience</h3>
              <p class="cs-item-text">
                We come to you, saving you time and effort, whether you're at a campsite, on the road, or at home.
              </p>
            </div>
          </li>
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/icons/certificate.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">Certified Technicians</h3>
              <p class="cs-item-text">
                Our team has the expertise, skills, and certifications to handle any RV repair or maintenance, from
                routine checks to major fixes.
              </p>
            </div>
          </li>
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                src="/assets/icons/handshake.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true" />
            </picture>
            <!-- Text Grouped For Flexbox-->
            <div class="cs-text-group">
              <h3 class="cs-h3">Reliable Service</h3>
              <p class="cs-item-text">
                We pride ourselves on fast response times and thorough workmanship, so you can hit the road with
                confidence.
              </p>
            </div>
          </li>
        </ul>
        <div class="cs-image-group">
          <div class="cs-picture-wrapper">
            <picture class="cs-picture cs-picture1">
              <source
                media="(max-width: 600px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 936, height: 750, position: 'attention' }) | avif %}
                "
                type="image/avif" />
              <source
                media="(max-width: 600px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 936, height: 750, position: 'attention' }) | webp %}
                "
                type="image/webp" />
              <source
                media="(max-width: 600px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 936, height: 750, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg" />
              <!--Tablet and up Image-->
              <source
                media="(min-width: 601px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 868, height: 750, position: 'attention' }) | avif %}
                "
                type="image/avif" />
              <source
                media="(min-width: 601px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 868, height: 750, position: 'attention' }) | webp %}
                "
                type="image/webp" />
              <source
                media="(min-width: 601px)"
                srcset="
                  {% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 868, height: 750, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg" />
              <img
                loading="lazy"
                decoding="async"
                src="{% getUrl '/assets/images/rv-service-02.jpg' | resize({ width: 868, height: 750, position: 'attention' }) | webp %}"
                alt="rv service"
                width="434"
                height="414" />
            </picture>
            <div class="cs-box">
              <span class="cs-header">Armando De La Garzwa</span>
              <span class="cs-desc">Expert Service Technician</span>
            </div>
          </div>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 424, height: 394, position: 'attention' }) | avif %}
              "
              type="image/avif" />
            <source
              media="(max-width: 600px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 424, height: 394, position: 'attention' }) | webp %}
              "
              type="image/webp" />
            <source
              media="(max-width: 600px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 424, height: 394, position: 'attention' }) | jpeg %}
              "
              type="image/jpeg" />
            <!--Tablet and up Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 394, height: 394, position: 'attention' }) | avif %}
              "
              type="image/avif" />
            <source
              media="(min-width: 601px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 394, height: 394, position: 'attention' }) | webp %}
              "
              type="image/webp" />
            <source
              media="(min-width: 601px)"
              srcset="
                {% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 394, height: 394, position: 'attention' }) | jpeg %}
              "
              type="image/jpeg" />
            <img
              loading="lazy"
              decoding="async"
              src="{% getUrl '/assets/images/rv-service-01.jpg' | resize({ width: 394, height: 394, position: 'attention' }) | webp %}"
              alt="rv service"
              width="197"
              height="197" />
            <!--Mobile Image-->
          </picture>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Logos                      -->
  <!-- ============================================ -->

  <section id="logos-1430">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">Professionally Certified RV Technician</h2>
      </div>
      <div class="cs-logo-wrapper">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
          <img
            class="cs-logo"
            src="assets/images/nrvta-logo.png"
            alt="logo"
            width="228"
            height="61"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture class="cs-picture">
          <img
            class="cs-logo"
            src="assets/images/rvtaa-logo.png"
            alt="logo"
            width="400"
            height="80"
            loading="lazy"
            decoding="async" />
        </picture>
      </div>
    </div>
    <!-- Background Graphic -->
    <picture class="cs-background">
      <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg" alt="waves" loading="lazy" />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews-607">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Testimonials</span>
        <h2 class="cs-title">What Our Customers Are Saying</h2>
        <p class="cs-text">
          At RV Care Plus, we’re dedicated to providing top-quality service wherever you are. Don’t just take our word
          for it—read what our happy customers have to say about their experiences with our fast, reliable RV repairs!
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <img
            class="cs-icon"
            src="/assets/icons/quotes.svg"
            alt="quote icon"
            aria-hidden="true"
            width="40"
            height="38"
            loading="lazy"
            decoding="async" />
          <h3 class="cs-h3">Quick and Reliable Service</h3>
          <p class="cs-item-text">
            "RV Care Plus saved our trip! They came to our campsite and fixed our water heater quickly. The technician
            was friendly, knowledgeable, and professional. Highly recommend their services!"
          </p>
          <span class="cs-name">Michael T.</span>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            src="/assets/icons/quotes.svg"
            alt="quote icon"
            aria-hidden="true"
            width="40"
            height="38"
            loading="lazy"
            decoding="async" />
          <h3 class="cs-h3">Thorough and Professional</h3>
          <p class="cs-item-text">
            "Exceptional service! They inspected our RV thoroughly and caught a roof issue we hadn’t noticed. The repair
            was done on the spot, and now we feel confident hitting the road again. Thank you, RV Care Plus!"
          </p>
          <span class="cs-name">Sarah L.</span>
        </li>

        <li class="cs-item">
          <img
            class="cs-icon"
            src="/assets/icons/quotes.svg"
            alt="quote icon"
            aria-hidden="true"
            width="40"
            height="38"
            loading="lazy"
            decoding="async" />
          <h3 class="cs-h3">Top-Notch Every Time</h3>
          <p class="cs-item-text">
            "I’ve used RV Care Plus twice, and they’ve been fantastic both times. From fixing my AC to cleaning out my
            tanks, their work is top-notch. It’s great knowing they come to you—worth every penny!"
          </p>
          <span class="cs-name">Tom R.</span>
        </li>
      </ul>
    </div>
  </section>

  {% include 'components/contact-form.html' %}
{% endblock %}
